.red {
	color: red;
}

.htmlcontainer{height: 100%;}

#top {
	height: 39px;
	border-bottom: 1px solid #135c8a;
	background: url(images/topbg.png);
}

#top h1 {
	padding: 10px 0px 0px 10px;
	color: white;
}

#top span {
	display: block;
	position: absolute;
	top: 5px;
	right: 20px;
}

#top span a {
	color: white;
	text-decoration: underline;;
	font-size: 75%;
}

#overview {
	margin: 10px;
	text-indent: 20px;
	font-size: 12px;
}

#overview p {
	line-height: 25px;
}

.introduction {
	border: 1px solid #B5E0FF;
	padding: 10px;
	font-size: 12px;
	background: #E8F2FE;
	margin: 10px;
	line-height: 25px;
}

.introduction h1 {
	font-weight: bold;
	font-size: 14px;
}

.demoTable {
	margin: 10px;
	width:90%;
}

.demoTable .td {
	vertical-align: top;
	padding: 5px 10px 5px 0px;
}
.code{
	font-size:11px;
	color:#555555;
}
.add {
	background-image: url( images/add.gif ) !important;
}

.save {
	background-image: url( images/save.png ) !important;
}
.delete {
	background-image: url( images/user_delete.png ) !important;
}
.rerender {
	background-image: url( images/table_refresh.png ) !important;
}
.add16 {
	background-image: url( images/add16.gif ) !important;
}

.add24 {
	background-image: url( images/add24.gif ) !important;
}

.remove {
	background-image: url( images/delete.gif ) !important;
}

.edit {
	background-image: url( images/edit.gif ) !important;
}

.find {
	background-image: url( images/find.gif ) !important;
}

.view {
	background-image: url( images/view.gif ) !important;
}

.home {
	background-image: url( images/home.png ) !important;
}

.icon-html {
	background-image: url( images/html.png ) !important;
}

.list {
	background-image: url( images/list.png ) !important;
}

.refresh {
	background-image: url( images/refresh.png ) !important;
}

.source {
	background-image: url( images/source.png ) !important;
}

.collapse {
	background-image: url( images/collapse-all.gif ) !important;
}

.expand {
	background-image: url( images/expand-all.gif ) !important;
}
