.red {
	color: red;
}

.clear {
	clear: both;
}

#top {
	height: 39px;
	border-bottom: 1px solid #135c8a;
	background: url(../resources/images/hd-bg.gif) repeat-x scroll;
}

#top h1 {
	padding: 10px 0px 0px 10px;
	color: white;
}

#top span {
	display: block;
	position: absolute;
	top: 5px;
	right: 20px;
}

#top span a {
	color: white;
	text-decoration: underline;;
	font-size: 75%;
}

#overview {
	margin: 10px;
	text-indent: 20px;
	font-size: 12px;
}

#overview p {
	line-height: 25px;
}

.introduction {
	border: 1px solid #B5E0FF;
	padding: 10px;
	font-size: 12px;
	background: #E8F2FE;
	margin: 10px;
	line-height: 25px;
}

.introduction h1 {
	font-weight: bold;
	font-size: 14px;
}

.demoTable {
	margin: 10px;
	width: 90%;
}

.demoTable .td {
	vertical-align: top;
	padding: 5px 10px 5px 0px;
}

.code {
	font-size: 11px;
	color: #555555;
}

.box {
	display: block;
}

.left {
	float: left;
	width: 45%;
	margin: 10px;
	width: 45%;
}

.right {
	float: right;
	width: 45%;
	margin: 10px;
	width: 45%;
}